@import '../utils/colors.styles.scss';
.logo {
  cursor: pointer;
  font-weight: bold;
  @media (max-width:768px) {
    font-size: 30px;
  }
  &__c {
    background-color: $primary-green;
    margin-right: 2px;
    padding: 5px 10px;
    border-radius: 3px;
  }
}
