.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #40444c;
  width: 100%;
  position: fixed;
  padding: 15px;

  &__logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }

  .MuiSvgIcon-root {
    display: none;
  }

  @media (max-width: 1008px) {
    &__logo {
        font-size: 25px;
      }
  }

  &__options {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header__logo {
      display: flex;
    }
    .header__option {
      margin-right: 30px;
      list-style-type: none;
      a {
        color: lightgray;
        text-decoration: none;
        font-weight: 700;
      }

      a:hover {
        color: white;
      }
    }

    &-left {
      display: flex;
      justify-content: center;
    }

    &-right {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .MuiSvgIcon-root {
      display: block;
      color: white;
      height: 35px;
      width: 35px;
      align-self: flex-start;
    }

    .MuiSvgIcon-root:hover {
      cursor: pointer;
    }

    &__options {
      flex-direction: column;
      

      &-left {
        flex-direction: column;
        align-items: center;
      }

      &-right {
        flex-direction: column;
        align-items: center;
      }
    }

    .header__option {
        margin-right: 0px;
        margin-top: 10px;
    }
  }

}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}


