@import '../utils/colors.styles.scss';

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #40444c;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: $secondary-black-darker;
  
  .header__btn-menu {
    display: none;
  }

  &__options {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    .header__option {
      cursor: pointer;
      color: whitesmoke;
      text-decoration: none;
      font-weight: 700;
      align-self: center;
      text-transform: uppercase;
    }

    .menu__option{
      list-style-type: none;
      padding: 10px;

      &:hover {
        border-bottom: solid 5px $primary-green;
      }
    }
    .header__option--active {
      border-bottom: solid 5px $primary-green;
    }

    .header__option--avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      .header__option--avatar__username{
       
      } 
    }

    &-left {
      display: flex;
      justify-content: center;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (max-width: 768px) {
    justify-content: space-around;
    padding: 15px;
    .header__btn-menu {
      display: block;
      height: 35px;
      width: 35px;
      align-self: flex-start;
    }

    .MuiSvgIcon-root:hover {
      cursor: pointer;
    }

    &__options {
      flex-direction: column;

      &-right, &-left {
        flex-direction: column;
        align-items: center;
      }
    }

    .header__option {
      margin-right: 0px;
      margin-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}
