
.footer{
    background-color: #40444c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    bottom: 0px;
    padding: 20px 0px;
    color: white;
    margin-top: 20px;
}