.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login > h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.login__formBox {
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.login > form {
  max-width: 480px;
  min-width: 300px;
  background-color: white;
}

.login > p {
  margin-bottom: 40px;
}

.login > .login__formBox > form {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.login__formOptions {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  width: 480px;
  background-color: white;
}

.login__formOptions > button {
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
}

.login__formOptions > .selected {
  box-shadow: 0px -15px 25px lightgray;
  background-color: white;
}

.login > .login__formBox > .login__formOptions > button:hover {
  cursor: pointer;
}

.login__inputs > input {
  width: 100px;
}

.login > .login__formBox > form > .login__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 0px 35px;
}

.login > .login__formBox > form > .login__inputs > .login__inputBox {
  padding: 12px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 22px;
  background-color: whitesmoke;
  font-size: 15px;
}

.login > .login__formBox > form > .login__inputs > .login__inputBox > input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  margin-left: 10px;
  font-size: 15px;

}

.login > .login__formBox > form > .login__inputs > button {
  align-self: flex-end;
  background-color: #0e76a8;
  border-radius: 3px;
  padding: 18px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
  margin: 15px 0px;
}

.login > .login__formBox > form > .login__inputs > button:hover {
  cursor: pointer;
  padding: 18.5px;
}


.login >  .login__formBox > .login__socialConection {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.login > .login__formBox > .login__socialConection > div {
  color: white;
  border-bottom: solid 2px lightgray;
  width: 100px;
}
