@import "../utils/colors.styles.scss";
.practice {
  display: flex;
  width: 100%;
  justify-content: center;

  &__content {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;

    h1 {
      align-self: flex-start;
      color: $primary-green;
    }

    .challenge-table {
      box-shadow: 0px 0px 10px $secondary-black;
      border-collapse: collapse;
      background-color: $secondary-black;
      margin-top: 20px;
      width: 100%;
      text-transform: capitalize;

      &__head{
          border-bottom: 1px solid $primary-black;
          .head__property{
            font-size: 20px;
            padding: 10px;
            font-weight: 700;
          }
      }
    }
  }
}
